<h1 id="post_title">Top Questions</h1>
<div id="posts">
	<% @posts.each do |f| %>
	<div class="post">
		<h2 class="title"><%= link_to f.title, f %></h2>
		<p class="date">Published <%= time_ago_in_words(f.created_at) %>. Written by <%= f.user.email %></p>
	</div>
	<% end %>
</div>
